.mainHeader {
    color: black;
    font-family: monospace;
    text-align: center;
    padding-top: 50px;
    
}

p {
    color: green;
    font-family: monospace;
    text-align: center;

}


body {
    background-color: white;
    opacity: 0.6;
}


li {
    display: inline;
    padding: 14px 16px;
    float: left;
    
    
}


ul {
    background-color: black;

}


li a {

    display: block;
    color: black;
    font-family: monospace;;
}


li {
    border-right: 1px solid #bbb;
  }
  
li:last-child {
    border-right: none;
}


.bottomfooter {
    text-align: center;
    bottom: 10px;
}


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


.row {
    padding-bottom: 20px;
}



.spaceforpadding {
    padding-bottom: 50px;
}