.searchHeader {
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

body {
    background-color: white;
    opacity: 0.6;
}

li {
    display: inline;
    padding: 14px 16px;
    float: left;
    
    
}

h1 {
    color: grey;
    font-family: monospace;
    text-align: center;
    padding-top: 15rem;
    font-size: xx-large;
    font-weight: bold;
}


li a {

    display: block;
    color: black;
    font-family: monospace;;
}


li {
    border-right: 1px solid #bbb;
  }
  
li:last-child {
    border-right: none;
}

input[type=text], select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #41a642;
    border-radius: 4px;
    
}

.bottomfooter {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-left: 18.75rem;
    align-items: center;
    justify-content: center;
}

p {
    color: green;
    font-family: monospace;
    text-align: center;

}

.searchbar {
    padding-left: 27rem;
    width: 90rem;
}